body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(100deg, #919191, #aeaeae);
  width: 98vw;
  margin: 0 auto;
}

h2 {
  text-align: center;
  white-space: pre-line;
  color: gold;
  border: dotted 3px red;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgb(81, 0, 255, 0.5);
  padding: 1.5rem;
  text-shadow: 1px 2px 1px rgb(81, 0, 255);
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90vw;
}

.div2,
.div3,
.div4 {
  display: flex;
  flex-direction: column;
  width: 40px;
  min-width: 29vw;
  margin: 10px;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  border: outset 3px red;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: inherit;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 225, 0.5);
}

/* @keyframes selectionPC {
  0% {
    box-shadow: 0px 0px 11px 16px rgba(230, 255, 4, 0.462);
  }
  25% {
    box-shadow: 0px 0px 12px 17px rgba(230, 255, 4, 0.462);
  }
  50% {
    box-shadow: 0px 0px 13px 18px rgba(230, 255, 4, 0.462);
  }
  75% {
    box-shadow: 0px 0px 14px 19px rgba(230, 255, 4, 0.462);
  }
  100% {
    box-shadow: 0px 0px 15px 20px rgba(230, 255, 4, 0.462);
  }
} */

.button1,
.button2,
.button3 {
  border: outset 3px rgb(0, 255, 225);
  margin-right: 14px;
  transition: 1s ease 0s;
}

.div3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 58vh;
}

.pResult,
.resultText,
.cResult {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  border: outset 4px black;
}

.resultText {
  text-align : center;
}

.div2 {
  display: flex;
  /* note below atribbute */
  /* flex-flow: column wrap; */
  flex-flow: column wrap;
  align-content: flex-end;
}

.div4 {
  display: flex;
  /* note below atribbute */
  /* flex-flow: column wrap; */
  justify-content: flex-start;
  align-content: flex-end;
}

.button4,
.button5,
.button6 {
  margin-top: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.5);
  transition: 1s ease 0s;
}


.div5 {
  background-image: linear-gradient(100deg, #919191, #aeaeae);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 8px;
  bottom: 0;
  height: 95vh;
  width: 95vw;
}

.fadeOut {
  opacity: 0;
  transition: all 1.5s ease 1s;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  transition: all 2.5s ease 1s;
  pointer-events: all;
}

h3 {
  text-align : center;
  font-size: 1.5rem;
  color: white;
  padding: 15px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #000000, #212221);
  box-shadow: 0px 0px 25px 15px rgba(55, 255, 0, 0.7);
  text-shadow: 1px 2px 1px rgba(0, 255, 8, 0.612);
}

.button7 {
  font-size: 1.5rem;
  color: white;
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #00000049, #003e00);
  box-shadow: 0px 0px 25px 15px rgba(55, 255, 0, 0.7);
  text-shadow: 1px 2px 1px rgb(0, 255, 8, 0.612);
  cursor: pointer;
}

.highlight {
  border: outset 3px rgb(229, 255, 0);
  box-shadow: 0px 0px 10px 5px rgba(229, 255, 0, 0.5);
  transition: 1s ease 0s;
}